.footer{
  justify-content: space-between;
  background-color: black;
  margin-top: 100px;
//   background-image: url("../../../public/banner4.png");
//   background-repeat: no-repeat;
//   background-size: contain;
// opacity: .6;
  height: 500px;


}