$main-bg: #2a3447;
$soft-bg: #384256;
$dark-bg: #222b3c;
//TEXT
$main-color: white;
$soft-color: #ddd;
$dark-color: #2a3447;
$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1200px;
$xxl: 1400px;
@import url('https://fonts.googleapis.com/css2?family=K2D&display=swap');

@mixin sm {
  @media screen and (max-width: $sm) {
    @content;
  }
}

@mixin md {
  @media screen and (max-width: $md) {
    @content;
  }
}
@mixin lg {
  @media screen and (max-width: $lg) {
    @content;
  }
}
@mixin xl {
  @media screen and (max-width: $xl) {
    @content;
  }
}
@mixin xxl {
  @media screen and (max-width: $xxl) {
    @content;
  }
}
img {
    max-width: 100%;
  height: auto;
  display: block;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button{
    border: none;
    // background-color: none;
    cursor:pointer;

}
input{
    border:none;
    &:focusP{
        outline:none;
    }
    &::placeholder{
        font-size:90%
    }
}
ul{
    list-style: none;
    margin: 0;
    padding:0;
}
a{
text-decoration:none;
color:black;
}
.container{
    width:100%;
}
.icon{
  min-width: 20px;
  min-height: 20px;
  cursor:pointer;
}
.ball{
   
    border-radius:100%;
    background-image: linear-gradient(blue,red) ;
    filter: blur(10px);
    z-index: 11;

 
}
@keyframes jumpX{
  from {top: 0px }
  to {top: 50px}
}
@keyframes jumpY{
  from {top: -250px }
  to {top: -200px}


}