@import "../../styles/comon.scss";

.container-pg {
  color: $main-color;
  padding: 100px 200px 0px 200px;
  @include xxl {
    padding: 100px 100px 0px 100px;
  }
  @include lg {
    padding: 100px 50px 0px 50px;
  }
  .title-lg {
    h1 {
      font-size: 62px;
      @include sm {
        font-size: 32px;
      
        }
    }
  }
  .banner-product {
    max-height: 600px;
    display: flex;
    justify-content: center;
    margin: 50px 0 50px 0;
    border-radius: 20px;
    background-color: white;
    position: relative;

    .banner-product-img {
      filter: drop-shadow(10px 20px 20px black);
      transform: scale(0.8);
      transition: all 0.5s;
      &:hover {
        transform: scale(0.9);
        filter: drop-shadow(10px 20px 20px black);
      }
    }
  }
  .des-detail {
    gap: 20px;
    @include lg {
     flex-direction: column;
    }
    .lf-content {
      @include lg {
        order: 2;
      }
      .Descreption {
        h2 {
          font-family: ChakraSemiBold;
        }
        .decript {
          margin: 30px 0;
          font-family: ChakraLight;
        }
      }
      .heighlight {
        margin: 40px 0;
        background-color: $soft-color;
        color: $main-bg;
        padding: 20px;
        .flex {
          ul {
            li {
              margin-top: 10px;
            }
          }
          .QuestionA {
            .accordion {
              h3 {
                border-radius: 15px;
                border: 1px solid $soft-color;
                margin-top: 10px;
                padding: 10px 10px;
                cursor: pointer;
        
                font-family: ChakraSemibold;
        
                &:hover {
                  background-color: #c4c1c13d;
                }
                &:active {
                  background-color: $soft-color;
                }
              }
              p {
                padding: 10px 10px;
                transition: all 5s;
              }
            }
          }
        }
      }
    }
    .rg-content{
      
      @include lg {
        order: 1;
      }
      .price{

      }
      .actions {
        margin: 30px 0;
      }
      .list-comment{
        height: 300px;
        margin-top: 45px;
        padding: 20px 20px;
        overflow-y: auto;
        background-color: #ddd;
        border-radius: 20px;
        color: black;
        .user-comment{
          display: flex;
          margin: 20px 0;
          gap: 50px;
          .user-img{
            // width: 100px;
            flex-basis: 20%;
            p{
              font-size:16px ;
              text-align: center;
              margin: 10px 0;
            }

          }
          .user-dsc-comment{
            flex-basis: 70%;

          }
        }
      }
      .form-comment{
        margin-top: 25px;
        form{

          textarea{
            width: 100%;
            height: 144px;
            border-radius:20px;
            padding: 20px 20px;
          }
          .button-sent-comment{
            width: 50%;
            padding: 10px 20px;
            border-radius: 50px;
            background:linear-gradient(-45deg,#ffa63d,#ff3d77,#1593e3,#5918df); 
            background-size: 1000%;
          
          }
        }
      }
      .header-rating-comment{
        display: flex;
        gap: 20px;
        .star-rating{
          position: relative;
          .star-rating-wrapper{
            width: 50% ;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            z-index: 1;
            svg{
              width: 1.5rem;
              height: 1.5rem;
              fill: red;
            }
          }
          .icon-rating-solid{
          display: block;
          width: 1.5rem;
          height: 1.5rem;
          fill: none;
          stroke:red;
          stroke-width:0.5px;
          

          }

        }
      }

    }
  }
  .cate-product {
    padding: 50px 0 ;
   
  }
}

