.QuestionA{
    .accordion{
 
     
     
      h3{
     
        border-radius: 15px;
        border: 1px  solid white;
        margin-top: 10px;
        padding: 10px 10px;
        cursor: pointer;
      
        font-family: ChakraSemibold;
      
        &:hover{
          background-color:#c4c1c13d;
        }
        &:active{
          background-color:white;
        }
      }
      p{
        padding: 10px 10px;
        transition: all 5s;
      }
    }

  }