@import "../../styles/comon.scss";

.checkout-content {
  padding: 100px 200px;
  display: flex;
  justify-content: center;
  @include lg {
    flex-direction: column;
    align-items: center;
    padding: 0px 0px;
  }

  .checkout-form {
    flex: 70%;
    max-width: calc(70% - 30px);
    padding: 0px 100px;
    @include lg {
      flex-basis: 100%;
      order: 2;
      width: 670px;
      padding: 10px 0px;


    }
    @include md  {
     display: none;


    }
    label {
      font-size: 18px;
      flex: 50%;
      display: block;
      margin-top: 20px;
      input,
      textarea {
        color: black;
        border-radius: 5px;
        padding: 20px 20px;
        margin-top: 0.5rem;
      }
    }
  }
  .oder {
    color: black;
    flex-basis: 30%;
    background-color: #f6f6f6;
    padding: 0 20px;
    @include lg {
    order: 1;
     width: 600px;
     padding: 50PX 20px 200px 20px;
    
    }
    @include lg {
      order: 1;
       width: 400px;
      
      }
    .oder-tb {
      border-collapse: collapse;
      width: 100%;
      .oder-style-tr {
        border-bottom: 1px solid black;
        .oder-title {
          font-weight: 600;
          font-size: 18px;
        }
        td {
          padding: 40px 0;
        }
      }
      .list-items {
        td {
          padding: 10px 0;
        }
      }
      .shipping {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        .oder-title {
            font-weight: 600;
            font-size: 18px;
          }
          td {
            padding: 40px 0;
          }
      }
    }
  }
}
