.container-pg{
    .list-cart{
        table{
          
            border-collapse: collapse;
        
            color: black;
            width: 100%;
           tr:nth-child(1){
            background-color: rgb(182, 180, 180);
            border-bottom: 1px solid rgb(182, 180, 180);
            
            th{

                padding: 20px 0;
            }
            }
            tr:not(:nth-child(1)){ 
                td{
                    background-color: white;
                    text-align: center;
                    border-bottom: 1px solid rgb(182, 180, 180);;
                }
                .td-img{
                    img{
                        // background-color:  rgb(182, 180, 180);
                        margin: auto;
                    }
                }
             
            }
        }
    }
}