@import "../../../../styles/comon.scss";
.add {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.724);
  display: flex;
  align-items: center;
  justify-content: center;
  .modal {
    width: 500px;
    background-color: $dark-bg;
    padding: 50px 30px;
    border-radius: 20px;
    .form {
      gap: 20px;
      padding: 20px 0;
      input:not([type="file"]) {
        width: 100%;
        padding: 18px 20px;

        background-color: transparent;
        border: 1px solid $soft-color;
        border-radius: 5px;
        font-size: 18px;
      }
      .input-file {
        margin-bottom: 20px;
      }
    }
  }
}
