@import "./styles/comon.scss";

.Header {
  align-items: center;
  padding-top: 20px;


  .logo{
    flex-grow: 1;
  }

  .nav-menu {
    flex-grow: 2;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    list-style: none;
    li{
      a{

        color:$main-color;
        font-size: 22px;
        font-family: 'K2D', sans-serif;;
      }
    }
    
  }
  .right-nav {
    flex-grow: 1;
    justify-content: flex-end;
  }
}
.flex {
  display: flex;
}


@keyframes jumpX{
  from {top: 0px }
  to {top: 50px}
}
@keyframes jumpY{
  from {top: -250px }
  to {top: -200px}


}